/*Styling CSS for tmnt2.html*/

body {
  margin:0;
  padding:0;
  background-image: url("Skeleton2_files/moviebg.png");
	font-family: Verdana, Geneva, sans-seri;
	font-size: 8pt;
}

#Banner {
  background-image: url("http://ws.mss.icics.ubc.ca/~cics516/cur/hw/hw2/images/bannerbg.png");
	text-align:center;
}

#MovieTitle {
	font-size: 24pt;
  font-family:"Verdana", sans-serif;
	text-align: center;
	font-weight: bold;
  text-shadow: 3px 3px #999999;
}

#RottenAlign {
  background-image:url("http://ws.mss.icics.ubc.ca/~cics516/cur/hw/hw2/images/rbg.png");
  font-size: 48pt;
  color: red;
  font-weight: bold;
  height: 83px;
  vertical-align: bottom;
}

#RightSection {
	margin-left: auto;
  margin-right: auto;
	width: 800px;
	border: 4px solid grey;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
}

#TextDesp {
  font-family:"Arial";
  padding:10px;
  padding-top:0px;
}

#MoviePoster {
  width:250px;
  float:right;
  background-color:#A2B964;
}

#LeftSection {
  width:550px;
  position:relative;
  float:left;
}

.StyleBold {
	font-weight: bold;
  padding-top:5px;
}

#RottenAlign img {
  float: left;
  margin-right: 5px;
}

.ReviewColumn {
  width: 47%;
  float: left;
  margin-left: 2%;
}

.Review {
  font-size: 8pt;
  background-color: #E8DC9B;
  font-weight: bold;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 8px;
  overflow: hidden;
  position: relative;

}

.ReviewerInfo {
  padding-top: 5px;
  padding-bottom: 20px;

}

.ReviewerInfo span {
  font-style: italic;
}

#ReviewCounts {
  background-color:#A2B964;
  padding:5px;
  position: absolute;
	bottom:-128px;
	width: 550px;
	text-align: center;
}

p img {
	padding-right: 5px;
	float: left;
}

#Position {
  position: fixed;
  right:0;
  bottom:0;
}
